.jumbotron{
    background-color: teal;
    color: black;
    margin-top: 50px;
}

footer{
    padding: 10px 10px 0 10px;
    background-color: gray;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-song{
    flex: 1 150px;
    padding: 2px 7px 2px 5px;
    margin-top: 10px;
}

.footer-address-icon{
    padding-right: 10px;
}
